/.idea/
DebugMenu/bin
DebugMenu/obj
EndlessMode/bin
EndlessMode/obj
Fire/bin
Fire/obj
LogsPlugin/bin
LogsPlugin/obj
MoreLanguages/obj
RubberChickenHammer/bin
RubberChickenHammer/obj
WaterPumper/bin
WaterPumper/obj
